@media (min-width: 401px) {
    body {
      background-color: rgb(40, 60, 80);
    }
  }
  
  @media (max-width: 799px) {
    h1 {
      text-align: center;
    }
  }
 
  @media (orientation: landscape) {
    article {
      max-width: 50ch;
    }
  }
  
  @media (min-height: 200px) {
    h1 {
      background-color: #334;
    }
  }
 
  @media print {
    p {
      font-family: serif;
    }
  }
  
  @media (prefers-color-scheme: light) {
    body, h1 {
      color: #111;
      background-color: #DDD;
    }
  }
  
  @media screen and (hover: none) {
    a {
      background-color: #212;
      padding: 2px 5px;
    }
  }
  
  @media screen and (min-width: 800px) and (max-width: 899px) {
    img {
      display: none;
    }
  }
  
  @media screen and (min-width: 200px) and (max-width: 400px) {
    img {
      height: 400px;
      object-fit: cover;
    }
  }
  
  @media (min-resolution: 2dppx) {
    article {
      background-color: #667;
    }
  }
